= form_for [@prototype,@comment], class:"form-inline", remote: true do |f|
  .col-md-8#comment_area
    - @comments.each do |c|
      .media
        .media-left
          = link_to image_tag("#{c.user.avatar.url}",  date: { holder: { redered: true }}, date: { src: c.user.avatar.url }, alt: "64x64", style: "width: 64px; height: 64px;"), user_path(@prototype.user)
        .media-body
          %h4.media-heading#top-aligned-media= c.user.name
          %p= c.content
    %h4 Write a comment
    .row
      .form-group.col-md-10
        = f.text_area :content, placeholder: "Your comments", row: "3", class: "form-control", id: "comment_text"
      .form-group.col-md-2
        = f.submit "Comment", class: "btn btn-primary"
