= form_for [@prototype,@comment], class:"form-inline", remote: true do |f|
  .col-md-8#comment_area
    - @comments.each do |c|
      .media
        .media-left
          = link_to image_tag('/images/newreg.png',  date: { holder: { redered: true }}, date: { src: "holder.js/64x64" }, alt: "64x64", src: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==", style: "width: 64px; height: 64px;"), user_path(@prototype.user)
        .media-body
          %h4.media-heading#top-aligned-media= c.user.name
          %p= c.content

    %h4 Write a comment
    .row
      .form-group.col-md-10
        = f.text_area :content, placeholder: "Your comments", row: "3", class: "form-control", id: "comment_text"
      .form-group.col-md-2
        = f.submit "Comment", class: "btn btn-primary"
