.media
  .media-left
    = link_to image_tag("#{comment.user.avatar.url}",  date: { holder: { redered: true }}, date: { src: "#{comment.user.avatar.url}" }, alt: "64x64", style: "width: 64px; height: 64px;"), user_path(comment.user)
  .media-body
    %h4.media-heading#top-aligned-media
      = comment.user.name
    %p
      = comment.text
