.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar.url,  date: { holder: { redered: true }}, alt: "64x64", style: "width: 64px; height: 64px;"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user)
            %span.degree
              = @prototype.user.profile

    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag(@prototype.prototype_images.main.first.image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |prototype_image|
          %li.list-group-item
            = image_tag(prototype_image.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to "iPad", "#", class: "btn btn-default"
        %li
          = link_to "wireframe", "#", class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
        = "(#{@comments.count})"
    .col-md-8#comment_area
      #comment_list
        = render partial: 'prototypes/comment', collection: @comments
      = form_for [@prototype,@comment], class:"form-inline", id:"new_comment",html: {method: "post"}, remote: true do |f|
        %h4
          Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :text, placeholder: "Your comments", class: "form-control", row: "3", id: "comment_text"
          .form-group.col-md-2
            = f.submit "Comment", class: "btn btn-primary"
