- if user_signed_in?
  - if @prototype.like_user(current_user)
    = link_to prototype_like_path(@prototype, @like), method: :delete, remote: true do
      %button.btn.btn-default.increment-button#like-button
        = image_tag("icon_heart_red.svg")
        Like
        %span.num
          = @prototype.likes.count
  - else
    = form_for [@prototype, @like], method: :post, remote: true do |f|
      %button.btn.btn-default.decrement-button
        = f.submit "Like", type: "hidden"
        = image_tag("icon_heart.svg")
        Like
        %span.num
          = @prototype.likes.count
- else
  = link_to new_user_session_path do
    %button.btn.btn-default.increment-button#like-button
      = image_tag("icon_heart.svg")
      Like
      %span.num
        = @prototype.likes.count
