.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to image_tag(prototype.prototype_images.main.first.image), prototype_path(prototype.id)
          - if user_signed_in? && prototype.user_id == current_user.id
            .dropdown.drop_menu_location.open
              %button#dropdownMenu.btn.btn-default.dropdown.open-toggledate:{ toggle: "dropdown" }
                Action
              %ul.dropdown-menu{ "aria-labelledby" => "dropdownMenu1" }
                %li
                  = link_to 'Delete', prototype_path(prototype),  method: "delete", rel: "nofollow"
                %li
                  = link_to 'Edit', edit_prototype_path(prototype), rel: "nofollow"
          .caption
            %h3
              = prototype.title
            .proto-meta
              .proto-user
                = link_to "by #{ prototype.user.name }", user_path(prototype.user)
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              - prototype.tags.each do |tag|
                %li
                  = link_to "#{tag.name}", tag_path(tag.id), class: "btn btn-default"
